*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#parent{
    height: 70px;
    width: 1528px;
    /* border: 2px solid black; */
    background-color: aqua;
    border-radius: 20px;
}
#parent>ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    position: relative;
    top: 25px;
}
#parent>ul>li:hover{
    cursor: pointer;
    color: red;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: red;

}
#parent>img{
    position: absolute;
    top: 20px;
    left: -40px;
}
